@import "~bootstrap/scss/bootstrap";
@import "./styles/colors";

.test {
  border: 1px solid green;
}

body {
  background-color: #fff;
}

.list-group li:nth-child(odd) {
  background-color: $odd;
}

.list-group li:nth-child(even) {
  background-color: $even;
}

.submit-btn {
  width: 50%;
  align-self: flex-end;
}
